<ion-content fullscreen="true">
  <div *ngIf="!loader" class="center_div-loader">
    <div class="ripple-container">
      <div class="thumb-lg ripple-trigger">
        <img src="assets/icons/weather.svg" style="height:100px;width:100px" class="rounded_img b b-2x box-shadow">
      </div>
      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
    </div>
  </div>

  <div *ngIf="loader" class="welcome-screen">
    <div class="swiper" #swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let data of weatherData">
          <div class="slide-content" [style.background-image]="'url(/assets/backgrounds/' + (data.background_image_url.split('/').pop() || 'soleado.jpg') + ')'">
            <div class="top-content">
              <div class="location">{{ data.location | titlecase }}</div>
              <div class="date-time">{{ getCustomDate(data.date) }} {{ data.time }}</div>
              <div class="temperature-container">
                <div class="temperature">{{ data.temp }}°C</div>
              </div>
              <div class="feels-like">
                Se siente como <strong>{{ data.apparentTemp }}°C</strong>
              </div>
              <div class="weather-icons">
                <div class="icon-item">
                  <img [ngClass]="{'weather-icon': true, 'day': data.isDay === 1, 'night': data.isDay === 0}"
                       src="assets/icons/lluvia64.png" alt="Lluvia">
                  <div class="icon-text">{{ data.precipitation }} mm</div>
                </div>
                <div class="icon-item">
                  <img [ngClass]="{'weather-icon': true, 'day': data.isDay === 1, 'night': data.isDay === 0}"
                       src="assets/icons/viento64.png" alt="Viento">
                  <div class="icon-text">{{ data.windSpeed }} km/h</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</ion-content>
