<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Valdeolmos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Valdeolmos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="loading" class="loading-overlay">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando datos...</p>
    </div>
    <div *ngIf="!loading">
      <div *ngIf="error" style="color: red;">
        {{ error }}
      </div>
      <ion-card *ngIf="data.length > 0">
        <ion-card-header>
          <ion-card-title>Datos actuales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <table>
            <thead>
              <tr>
                <th>Location</th>
                <th>Weather</th>
                <th>Temperature (°C)</th>
                <th>precipitation (%)</th>
                <th>Updated At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{ item.location }}</td>
                <td><ion-icon [name]="getWeatherIcon(item.temperature_2m)" aria-hidden="true"></ion-icon></td>
                <td>{{ item.temperature_2m }}</td>
                <td>{{ item.precipitation }}</td>
                <td>{{ item.timestamp | date:'dd/MM/yyyy HH:mm' }}</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>

      <ng-template #noData>
        <p>No data available</p>
      </ng-template>

      <ion-card *ngIf="dataf.length > 0">
        <ion-card-header>
          <ion-card-title>Datos Pronósticos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <table>
            <thead>
              <tr>
                <th>Location</th>
                <th>Temperature (°C)</th>
                <th>Precipitation (%)</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataf">
                <td>{{ item.location }}</td>
                <td>{{ item.temperature_2m }}</td>
                <td>{{ item.precipitation }}</td>
                <td>{{ item.timestamp | date:'dd/MM/yyyy HH:mm' }}</td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>

    </div>
  <app-explore-container name="Valdeolmos"></app-explore-container>
</ion-content>
