<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">El Casar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos...</p>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="error" style="color: red;">
      {{ error }}
    </div>
    <table *ngIf="data.length > 0; else noData">
      <thead>
        <tr>
          <th>Location</th>
          <th>Weather</th>
          <th>Temperature (°C)</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.location }}</td>
          <td><ion-icon [name]="getWeatherIcon(item.temperature_2m)" aria-hidden="true"></ion-icon></td>
          <td>{{ item.temperature_2m }}</td>
          <td>{{ item.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noData>
      <p>No data available</p>
    </ng-template>
  </div>
</ion-content>
