<!--
  Authors: initappz (Rahul Jograna)
  Website: https://initappz.com/
  App Name: DateWate Dating This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2025-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>
      <ion-label class="inbox-status">Meteo App</ion-label>
      <ion-label class="inbox-name">Weather Forecast</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center_div-loader" *ngIf="loader == false">
    <div class="ripple-container">
      <div class="thumb-lg ripple-trigger">
        <img src="assets/icons/weather.svg" style="height:100px;width:100px" class="rounded_img b b-2x box-shadow">
      </div>
      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
    </div>
  </div>
  <app-cards [cards]="cards" *ngIf="loader == true"></app-cards>
</ion-content>
